<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.es.core" />
    <context:property-placeholder location="classpath:config/application.properties" />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driver}" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.user}" />
        <property name="password" value="${db.password}" />
    </bean>

    <bean id="colorRowMapper" class="org.springframework.jdbc.core.BeanPropertyRowMapper" >
        <constructor-arg name="mappedClass" value="com.es.core.model.phone.Color" />
    </bean>

    <bean id="orderRowMapper" class="com.es.core.model.order.OrderRowMapper" >
        <property name="namedParameterJdbcTemplate" ref="namedParameterJdbcTemplate" />
    </bean>

    <bean id="orderItemRowMapper" class="com.es.core.model.order.OrderItemRowMapper">
        <property name="phoneService" ref="defaultPhoneService" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="phoneRowMapper" class="com.es.core.model.phone.PhoneRowMapper" >
        <property name="colorRowMapper" ref="colorRowMapper" />
    </bean>

    <bean id="stockRowMapper" class="com.es.core.model.phone.StockRowMapper" />

    <bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg name="dataSource" ref="dataSource" />
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <constructor-arg name="dataSource" ref="dataSource" />
    </bean>

    <bean id="defaultCurrency" class="java.util.Currency" factory-method="getInstance">
        <constructor-arg type="java.lang.String" value="${currency.default}"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <jdbc:initialize-database enabled="${db.insertSchema}" data-source="dataSource">
        <jdbc:script location="classpath:db/schema.sql" />
    </jdbc:initialize-database>

    <jdbc:initialize-database enabled="${db.insertTestData}" data-source="dataSource">
        <jdbc:script location="classpath:db/test-data.sql" />
    </jdbc:initialize-database>
</beans>